<div class="container">
  <h1 id="header">Lorem ipsum dolor sit amet</h1>
  <div id="navbar">
    <ul>
      <li>Lorem</li>
      <li>ipsum</li>
      <li>dolor</li>
      <li>sit</li>
      <li>amet</li>
    </ul>
  </div>
  <div id="content">
    Lorem ipsum dolor sit amet, in nec solum perpetua, ne tota illud tollit eum, ex molestie scripserit ius. Ea pri errem atomorum, invidunt partiendo nam eu. Ex laboramus dissentias mediocritatem vim, nam ad adhuc libris? Has at vulputate consetetur, ius eu homero essent! An nec soluta instructior, mucius volumus has ad? Vel in quod fugit, commune accumsan philosophia at vis!

    Cum in nostrud evertitur, vix no hendrerit concludaturque. Primis putent vel ut, mea te illum dolorem prodesset. At magna nonumes cum. Ornatus copiosae ut vim, quod nulla ne pro.

    Ea dicunt quaerendum quo, an zril explicari consulatu eam, putent tamquam et vix. At sit suas tation, congue recusabo dissentias id nec. Ne quod veniam sit? Quo ea sumo nostro virtute. Elitr albucius omittantur nec ut.

    Cu brute nihil quodsi est, cu mei nemore ornatus. Nisl eruditi te mel? Eu ridens eirmod vel, mei et bonorum tibique omittantur. Vel suscipiantur concludaturque no!

    Percipit tacimates consequuntur ut vix. Ei vix primis percipit, libris iisque cu has. Graeci luptatum adolescens an qui? Mei te mazim ponderum, eam quidam nostrum aliquando ex, et graeco explicari nec! Id mollis albucius moderatius nam, alii vitae legendos vix ea!

    Reque sanctus gloriatur no ius, aperiam eleifend ut duo, ne has equidem oportere constituto. Zril oblique antiopam usu in? Per modo vocibus an. An delectus torquatos dissentias duo, vim porro nusquam ex. No commune nominati iudicabit duo, usu eruditi maiestatis et. Dolore iriure reprehendunt id nam, eam inermis nonumes in?

    Cu sed fastidii ullamcorper, id eos ferri verear lobortis? Vel ut natum bonorum? Antiopam intellegam eum ad, eu vis tibique imperdiet! Pri liber tantas facilisis in, an voluptua volutpat eum.

    Sed labores adipisci repudiare an, mea te prima graeci? Stet ancillae laboramus ex vix, te his modus similique, doctus aliquando in vis. Ne sed fierent incorrupte, dolorum veritus minimum pro at, convenire consetetur accommodare pro ut? Tamquam adipisci scriptorem et per. Nec et facer dicit.
  </div>
  <div id="ads">
    <h2>Ads</h2>
    <div id="ad1" class="ad">
      Audiam verear consulatu et eam, cum ei minim conclusionemque. Veritus similique eu pri, vidit illud sit id, cotidieque neglegentur eam ei? Decore copiosae quo te? Ne usu mucius menandri. Lorem regione eu mei, eum sumo tollit ea.
    </div>
    <div id="ad2" class="ad">
      Duo an platonem delicata indoctum, an has decore facilis fuisset? Duo lorem ubique virtute et, ad qui everti propriae nominati. Ex utroque dissentiet vel, populo efficiendi instructior ut has. Ei expetenda constituto vim, ad numquam meliore consequuntur ius. Detraxit conceptam ne vim, viris pericula voluptatum sea id, dolores oporteat mnesarchum quo id?
    </div>
</div>
