@import "susy";

//if you want to use the buttons plugin
@import "sassy-buttons"; 

//this is the default number of columns
$total-columns: 3; 

//width of each column
$column-width   : 100em; 

//space between columns
$gutter-width   : 2em; 

//space on the right and left of the grid
$grid-padding   : 1em;

//alternative layout sizes
$tablet:50em;
$computer:100em;
