@import "susy";

//this is the default number of columns
$total-columns: 4;

//width of each column
$column-width   : 4em; 

//space between columns
$gutter-width   : 1em; 

//space on the right and left of the grid
$grid-padding   : 1em;

//alternative layout sizes
$tablet: 8;
$desktop: 12;

$container-width: 100%;
