@import "susy";

//this is the default number of columns
$total-columns: 3; 

//width of each column
$column-width   : 100em; 

//space between columns
$gutter-width   : 5em; 

//space on the right and left of the grid
$grid-padding   : 1em;

//alternative layout sizes
$tablet:30em;
$computer:60em;
